extends layout

block content
  script.
    var issues = !{issues};

  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/isotope.pkgd.min.js")
  script(src="/javascripts/issue_filter.js")

  div(class="container")
    div(class="filters", id="filters")
      h3(class="accordion")
        | Ticket Type
        div(class="arrow")
      div(class="accordion-content", filter-type="type")
        label
          input(data-filter=".l1-escalation" type="checkbox")
          | Escalation
        label
          input(data-filter=".patch" type="checkbox")
          | Patch
        label
          input(data-filter=".task" type="checkbox")
          | Task
        label
          input(data-filter=".sme-request" type="checkbox")
          | SME Request
        label
          input(data-filter=".sme-request-subtask" type="checkbox")
          | SME Request Subtask
      h3(class="accordion")
        | Priority
        div(class="arrow")
      div(class="accordion-content", filter-type="priority")
        label
          input(data-filter=".trivial" type="checkbox")
          | Trivial
        label
          input(data-filter=".minor" type="checkbox")
          | Minor
        label
          input(data-filter=".major" type="checkbox")
          | Major
        label
          input(data-filter=".critical" type="checkbox")
          | Critical
      h3(class="accordion")
        | Region
        div(class="arrow")
      div(class="accordion-content", filter-type="region")
        label
          input(data-filter=".apac" type="checkbox")
          | APAC
        label
          input(data-filter=".brazil" type="checkbox")
          | Brazil
        label
          input(data-filter=".eu" type="checkbox")
          | EU
        label
          input(data-filter=".india" type="checkbox")
          | India
        label
          input(data-filter=".japan" type="checkbox")
          | Japan
        label
          input(data-filter=".spain" type="checkbox")
          | Spain
        label
          input(data-filter=".us" type="checkbox")
          | US
        label
          input(data-filter=".global" type="checkbox")
          | Global
      h3(class="accordion")
        | Update
        div(class="arrow")
      div(class="accordion-content", filter-type="update")
        label
          input(data-filter=".up-to-date" type="checkbox")
          | Up to Date
        label
          input(data-filter=".update-soon" type="checkbox")
          | Update Soon
        label
          input(data-filter=".needs-update" type="checkbox")
          | Needs Update
      h3(class="accordion")
        | Dependencies
        div(class="arrow")
      div(class="accordion-content", filter-type="dependencies")
        label
          input(data-filter=".backport-review" type="checkbox")
          | Backport Review
        label
          input(data-filter=".code-review" type="checkbox")
          | Code Review
        label
          input(data-filter=".cs-customer" type="checkbox")
          | CS/Customer
        label
          input(data-filter=".internal-environment" type="checkbox")
          | Internal Environment
        label
          input(data-filter=".lps-escalation" type="checkbox")
          | LPS Escalation
        label
          input(data-filter=".none" type="checkbox")
          | None
        label
          input(data-filter=".other-lpp" type="checkbox")
          | Other LPP
        label
          input(data-filter=".patcher-portal-automated-support-testing" type="checkbox")
          | Patcher Portal Automated Support Testing
        label
          input(data-filter=".patcher-portal-hotfix-building" type="checkbox")
          | Patcher Portal Hotfix Building
        label
          input(data-filter=".ptr" type="checkbox")
          | PTR
        label
          input(data-filter=".sme-request" type="checkbox")
          | SME Request
        label
          input(data-filter=".support-policy-question" type="checkbox")
          | Support Policy Question
        label
          input(data-filter=".support-related-test-at-product-qa" type="checkbox")
          | Support Related Test at Product QA
      h3(class="accordion")
        | Status
        div(class="arrow")
      div(class="accordion-content", filter-type="status")
        label
          input(data-filter=".blocked" type="checkbox")
          | Blocked
        label
          input(data-filter=".flagged" type="checkbox")
          | Flagged
      h3(class="accordion")
        | Assignee
        div(class="arrow")
      div(class="accordion-content", filter-type="assignee", id="assignee-checkbox-group")
    div(class="selected-filters-container")
      div(class="selected-filters", id="selected-filters")
      div(class="clear-filters", id="clear-filters")
        | Clear All
    div(class="grid", id="grid")